:80 {
	root public
	encode gzip
	file_server

	route /admin/* {
		uri strip_prefix /admin
		root admin
		file_server
	}

	route /console/assets/* {
		reverse_proxy graphql:8080
	}

	route /console/* {
		reverse_proxy console:9695
	}

	route /v1/version {
		reverse_proxy graphql:8080
	}

	route /v1/graphql {
		reverse_proxy graphql:8080
	}

	route /v1/metadata {
		reverse_proxy graphql:8080
	}

	route /v2/rest/* {
		rewrite /v1/* /api/*
		reverse_proxy graphql:8080
	}

	route /v1alpha1/config {
		reverse_proxy graphql:8080
	}

	route /v2/query {
		reverse_proxy graphql:8080
	}

	route /api/* {
		reverse_proxy graphql:8080
	}

	route /apis/migrate/settings {
		reverse_proxy console:80
	}

	route /headers {
		templates
		respond "
		Request Headers:
		{{.Req.Header}}
		"
	}

	route /loopback {
		rewrite /loopback /headers
		reverse_proxy caddy
	}
}
