:80 {
	root /usr/share/caddy
	encode gzip
	file_server

	route /admin* {
		uri strip_prefix /admin
		root admin
		file_server
	}

	route /core* {
		uri strip_prefix /core
		root core
		file_server
	}

	route /console* {
		reverse_proxy console:9695
	}

	route /console/assets/* {
		reverse_proxy hasura:8080
	}

	route /v1/version {
		reverse_proxy hasura:8080
	}

	route /v1/graphql {
		reverse_proxy hasura:8080
	}

	route /v1/metadata {
		reverse_proxy hasura:8080
	}

	route /v1/* {
		rewrite /v1/* /api/rest/*
		reverse_proxy hasura:8080
	}

	route /v1alpha1/config {
		reverse_proxy hasura:8080
	}

	route /v2/query {
		reverse_proxy hasura:8080
	}

	route /api/* {
		reverse_proxy hasura:8080
	}

	route /apis/migrate* {
		reverse_proxy console:80
	}

	route /files* {
		rewrite /files/* /ipfs/*
		reverse_proxy ipfs:8080
	}
}
